extends layout
block content
  h1.quiz.title #{quizTitle}
  
  div.quiz.form 
    form.quiz.form(method="POST", action="/quiz")
      div.quiz.alternatives
        
          input.quiz(type="radio", name="alternative", value="alt1")
          label(for="alt1") #{alt1} hej hallå
        
          input.quiz(type="radio", name="alternative", value="alt2") 
          label(for="alt2") #{alt2} cool boy
        
          input.quiz(type="radio", name="alternative", value="alt3")
          label(for="alt3") #{alt3} SSSS
        
          input.quiz(type="radio", name="alternative", value="alt4") 
          label(for="alt4") #{alt4} MONET
          
        
        
        
      
    
    
